<!DOCTYPE html>
<html>
  <head>

  	<!-- JQuery -->
  	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
  	<!-- Angular -->
  	<script src="/bower_components/angular/angular.min.js"></script>
  	<!-- Bootstrap -->
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="js/main.js"></script>
  </head>
  <body ng-app="redisApp" ng-controller="MainController">

    <div class="container">
      <div class="row">
        <h1>Redis Geo Commands Demo App</h1>

        <div class="col-xs-12">
          <form>
          <div class="form-group">
          <label>Twitter Handle</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control"  placeholder="twitter handle" ng-model="twitterHandle">
            </div>


            <label>Miles Away</label>
                <input type="number" class="form-control" placeholder="miles away" ng-model="radius">
                <br>
          <button class="btn btn-primary" ng-click="getUsers(twitterHandle, radius)">See who's around!</button>
        </div>
      </form>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <thead>
              <tr>
                <th> USER
                </th>
              <th> MILES AWAY FROM YOU
              </th>
              <th>Longitude</th>
              <th>Latitude</th>
              </tr>
            </thead>
          <tr ng-repeat="user in users">
            <td><a href="http://twitter.com/{{user[0]}}" target="_blank">{{user[0]}}</a></td>
            <td>{{user[1]}}</td>
            <td>{{user[2][0]}}</td>
            <td>{{user[2][1]}}</td>
          </tr>
        </table>
        </div>
      </div>
    </div>




  </body>
</html>
